<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light m-4 flex justify-content-between">
  <div>
  <a class="navbar-brand" href="#">Your Logo</a>
</div>
  <!-- Navbar Toggler (for responsive behavior) -->
  

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"></ul> <!-- Align links to the left -->

    <!-- Sidebar with buttons -->
    <div class="navbar-nav ml-auto flex flex-end ms-4">
      <button class="nav-item nav-link btn btn-link" (click)="landingpage()">Home</button>
      <button class="nav-item nav-link btn btn-link" (click)="placeAppointment()">Place Appointment</button>
      <button class="nav-item nav-link btn btn-link" (click)="viewAppointment()">View Appointment</button>
      <button class="nav-item nav-link btn btn-link" (click)="contactUspage()">Contact Us</button>
    </div>
  </div>
</nav>
<hr>
<router-outlet></router-outlet>
<hr>
<div class="row container flex mt-4">
    <div class="col-4"></div>
  <div class="col-4">
    <h4 class="text-left">Useful Links</h4>
    <ul class="list-unstyled text-right "> <!-- Align items to the right -->
      <li class="d-flex justify-content-end flex">Home </li>
      <li class="d-flex justify-content-end">Place Appointment </li>
      <li class="d-flex justify-content-end">View Appointment </li>
      <li class="d-flex justify-content-end">Contact Us </li>
    </ul>
  </div>
    
  <div class="col-4 ">
    <h4 class="text-left">Useful Links</h4>
    <ul class="list-unstyled text-right "> <!-- Align items to the right -->
      <li class="d-flex justify-content-end flex">Home </li>
      <li class="d-flex justify-content-end">Place Appointment </li>
      <li class="d-flex justify-content-end">View Appointment </li>
      <li class="d-flex justify-content-end">Contact Us </li>
    </ul>
  </div>
</div>
<hr>
<section class="text-center"><h5> &copy; Copyright GET-FIT Health Club</h5></section>